@page
@model VueVersionModel
@{
    ViewData["Title"] = "FileSystem VueVersion .. !!!!";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>FileSystem VueVersion .. !!!!</h1>

<script type="text/x-template" id="app-template">

    <v-app fill-height>

        <v-content>

        </v-content>

        <v-container>
            {{apiUrl}}
        </v-container>

    </v-app>

</script>

<div id="app"></div>

@*<article id="app">

        {{apiUrl}}

        <v-app>

        </v-app>


    </article>*@

@section Styles{

    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">

    <link href="https://cdn.jsdelivr.net/npm/@@mdi/font@4.x/css/materialdesignicons.min.css" rel="stylesheet">

    <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">

}

@section Scripts{

    <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>

    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <script src="~/SinjulMSBH/filesystem.vue.js" asp-append-version="true"></script>

}