@page
@model VueVersionModel
@{
    ViewData["Title"] = "FileSystem VueVersion .. !!!!";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>FileSystem VueVersion .. !!!!</h1>

<article id="app">

    {{ message }}

</article>

@section Styles{

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900|Material+Icons">

    <script src="https://kit.fontawesome.com/7d3ee69c48.js" crossorigin="anonymous"></script>

}

@section Scripts{

    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.js"></script>

    <script src="~/SinjulMSBH/filesystem.vue.js" asp-append-version="true"></script>

}