@page
@model VueVersionModel
@{
    ViewData["Title"] = "FileSystem VueVersion .. !!!!";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>FileSystem VueVersion .. !!!!</h1>

<article id="app">

    <div v-if="hasItems">
        <div hoverable
             return-object
             :search="searchTerm"
             :active.sync="active"
             :load-children="fetchChildrens"
             transition :items="items"
             activatable
             item-key="name"
             open-on-click>
            <template v-slot:prepend="{ item, open }">
                <i v-if="item.hasChilds" :class="open ? 'far fa-folder-open' :'fas fa-folder'"></i>
                <span v-else> <i :class="item.icon"></i></span>
            </template>
        </div>
    </div>

</article>

@section Styles{

    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">

    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css" rel="stylesheet">

    <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">

}

@section Scripts{

    <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>

    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <script src="~/SinjulMSBH/filesystem.vue.js" asp-append-version="true"></script>

}