@page
@model Demo.jQueryVersionModel
@{
    ViewData["Title"] = "FileSystem jQueryVersion .. !!!!";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>FileSystem jQueryVersion .. !!!!</h1>


@section Styles{

    <script src="https://kit.fontawesome.com/7d3ee69c48.js" crossorigin="anonymous"></script>

}

@section Scripts{

    <script src="~/SInjulMSBH/filesystem.jquery.js" asp-append-version="true"></script>

}