@page
@model jQueryVersionModel
@{
    ViewData["Title"] = "FileSystem jQueryVersion .. !!!!";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>FileSystem jQueryVersion .. !!!!</h1>

<article class="row mt-4">

    <section class="col-md-6"
             fsl-filesystem="dir1"
             fsl-filesystem-full-name="c:\dev"
             fsl-filesystem-full-height="310">
    </section>

    <section class="col-md-6"
             fsl-filesystem="dir2"
             fsl-filesystem-full-name=""
             fsl-filesystem-full-height="620">
    </section>

</article>


@section Styles{

    <script src="https://kit.fontawesome.com/7d3ee69c48.js" crossorigin="anonymous"></script>

}

@section Scripts{

    <script src="~/SinjulMSBH/filesystem.jquery.js" asp-append-version="true"></script>

}